# FastAPI & Web Server
fastapi==0.95.0
uvicorn==0.21.1

# Database & ORM
SQLAlchemy==2.0.20
sqlite  # If using SQLite
PyMySQL==1.1.1  # If switching to MySQL later

# Authentication & Security
python-jose==3.4.0
bcrypt==4.2.1
passlib==1.7.4
python-multipart==0.0.20

# Caching
cachetools==5.5.2

# Environment Variables
python-dotenv==1.0.0
